body 
    {
    margin-top: 7%;
    width: 100%;
    height: auto;
    background: #FFEDB9;
    display: block;
    
    }

nav
    {
    display: block;
    width: 100%;
    height: 45%;
    }

a
    {
    color: black;
    text-decoration: none;
    }

.links
    {
    padding: 15%;
    }

.infoD
    {
    width: 100%;
    height: auto;
    background: #FFEDB9;
    display: flex;
    justify-content: flex-end;
    }

.infoE
    {
    width: 100%;
    height: auto;
    background: #FFEDB9;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    }

.InfoEx
    {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    }

.footer
    {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    }

#foto1
    {
    display: flex;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 20%;
    width: 20%;
    height: 50%;
    flex-shrink: 0;
    border-radius: 300px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41);
    }

#foto2
    {
    
    margin-top: 3%;
    width: 40%;
    margin-right: 3%;
    height: auto;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41)

    }

#foto3
    {
    margin-right: 20%;
    margin-left: 20%;
    width: 30%;
    height: auto;
    overflow-clip-margin: content-box;
    overflow: clip;
    }

.txt
    {
    box-sizing: content-box;
    background-color: #FDD4A1;
    margin-top: 7%;
    margin-right: 5%;
    object-position: right;
    display: flex;
    align-items: center;
    width: 50%;
    height: 30%;
    flex-shrink: 0;
    color: #000;
    font-family: Alegreya SC;
    font-size: 150%;
    font-style: normal;
    font-weight: 400;
    border-radius: 1em;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41);
    }

.txt2
    {
    margin-left: 1%;
    padding: 1%;
    background-color: #FDD4A1;
    margin-top: 7%;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 45%;
    height: 40%;
    flex-shrink: 0;
    color: #000;
    font-family: Alegreya SC;
    font-size: 150%;
    font-style: normal;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41)
    }

.txt3
    {
    margin-left: 1%;
    padding: 1%;
    background-color: #FDD4A1;
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 45%;
    height: 10%;
    flex-shrink: 0;
    color: #000;
    font-family: Alegreya SC;
    font-size: 150%;
    font-style: normal;
    box-sizing: border-box;
    border-radius: 1em;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41)
    }

.header
    {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 10%;
    background: #FCBB8A;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41);
    justify-content: space-around;
    }

.botones 
    {
    width: 10%;
    height: 80%;
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 25px;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none; 
    }

.bar
    {
    width: 12%;
    height: 5px;
    position: absolute;
    left: 10.8%;
    bottom: 0;
    background-color: #c55525;
    transition: 0.5s ease;
    }

.bar2
    {
    width: 12%;
    height: 5px;
    position: absolute;
    left: 44%;
    bottom: 0;
    background-color: #c55525;
    transition: 0.5s ease;
    }

.bar3
    {
    width: 12%;
    height: 5px;
    position: absolute;
    left: 77.4%;
    bottom: 0;
    background-color: #c55525;
    transition: 0.5s ease;
    }
    
.botones:hover
    {
    background-color: #FAA272;
    color: rgb(0, 0, 0);
    border-radius: 1em;
    position: relative;
    }

.botones:hover:nth-last-of-type(2)~.bar
    {
    left: 77.4%;
    }

.botones:hover:nth-last-of-type(3)~.bar
    {
    left: 44%;
    }

.botones:hover:nth-last-of-type(4)~.bar2
    {
    left: 10.8%;
    }

.botones:hover:nth-last-of-type(2)~.bar2
    {
    left: 77.4%;
    }

.botones:hover:nth-last-of-type(4)~.bar3
    {
    left: 10.8%;
    }

.botones:hover:nth-last-of-type(3)~.bar3
    {
    left: 44%;
    }

@media (max-width: 600px)
    {
        .infoD 
            {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            }
            
        .infoE 
            {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            }

        .infoEx
            {
            flex-wrap: wrap;
            flex-direction: column;
            align-items: center;
            }

        #foto1
            {
            margin-top: 10%;
            margin-right: 0%;
            }
        
        #foto2
            {
            margin-top: 10%;
            margin-right: 0%;
            }

        #foto3
            {
            margin-top: 10%;
            
            }

        .txt
            {
            margin-right: 0;
            }
            
        

        .botones
            {
            width:22%;
            }
    
        .bar
            {
            width: 20%;
            left: 7%;
            }
            
        .bar2
            {
            width: 20%;
            left: 40%;
            }

        .bar3
            {
            width: 20%;
            left: 73.3%;
            }

        .botones:hover:nth-last-of-type(2)~.bar
            {
            left: 73.3%;
            }
        
        .botones:hover:nth-last-of-type(3)~.bar
            {
            left: 40%;
            }
        
        .botones:hover:nth-last-of-type(4)~.bar2
            {
            left: 6.8%;
            }
        
        .botones:hover:nth-last-of-type(2)~.bar2
            {
            left: 73.3%;
            }
        
        .botones:hover:nth-last-of-type(4)~.bar3
            {
            left: 6.8%;
            }
        
        .botones:hover:nth-last-of-type(3)~.bar3
            {
            left: 40%;
            }
}