body 
    {
    width: 1440px;
    height: 1080px;
    background: #FFEDB9;
    display: absolute;
    justify-self: center;
    align-self: center;
    }

.infoD
    {
    width: 100%;
    height: auto;
    background: #FFEDB9;
    display: flex;
    justify-self: center;
    align-self: center; 
    }

.infoE
    {
    width: 1440px;
    height: 1080px;
    background: #FFEDB9;
    display: flex;
    justify-content: flex-start;
    align-self: center; 
    flex-direction: row-reverse;
    justify-content: space-between;
    
    }

#foto1
    {
    margin-top: 150px;
    width: 262px;
    height: 495px;
    flex-shrink: 0;
    border-radius: 300px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41)
    }

#foto2
    {
    margin-top: 150px;
    width: 687px;
    height: 356px;
    flex-shrink: 0;
    border-radius: 20px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    

    }
.txt
    {
    box-sizing: content-box;
    background-color: #FDD4A1;
    margin: 22%;
    object-position: right;
    display: flex;
    align-items: center;
    justify-self: flex-end;
    width: 622px;
    height: 160px;
    flex-shrink: 0;
    color: #000;
    text-align: center;
    font-family: Alegreya SC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: none;
    border-radius: 50px;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41)
    }

.txt2
    {
    box-sizing: content-box;
    background-color: #FDD4A1;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-items: center;
    width: 601px;
    height: 121px;
    flex-shrink: 0;
    color: #000;
    font-family: Alegreya SC;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 33px;
    box-sizing: border-box;
    border-radius: 33px;
    }

.txt3
    {
    
    display: flex;
    justify-content: center;
    justify-content: space-around;
    margin-left: -140px;
    
    }

.header
    {
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 80px;
    background: #FCBB8A;
    line-height: 80px;
    }

ul 
    {
    display: flex;
    padding: 0;
    margin: 0;
    box-shadow: 0 10px 20px 0 rgb(85, 64, 41);
    justify-content: space-around;
    }


li 
    {
    flex: 1;
    width: 200px;
    list-style: none;
    text-align: center; 
    justify-content: center;
    position: relative;
    font-size: 25px;
    transition: 0.5s ease;
    cursor: pointer;
    user-select: none; 
    }

.bar
    {
    width: 12%;
    height: 5px;
    position: absolute;
    left: 10.8%;
    bottom: 0;
    background-color: #c55525;
    transition: 0.5s ease;
    }

li:hover
    {
    background-color: #FAA272;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    position: relative;
    }

li:hover:nth-last-of-type(2)~.bar
    {
    left: 33%;
    }

li:hover:nth-last-of-type(3)~.bar
    {
    left: 66%;
    }