body 
{
    background-color: rgb(151, 231, 255);
    
}


h1
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    place-items: center;
    font: size 50px;
   
}

h2 
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}


#links
{
    
    
    padding: 10px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}

#foto
{
    width: 300px;
    height: 300px;
    border: solid 3px black;
    border-image: auto;
    background-color: antiquewhite;
    border-radius:50%;
    padding: 10px;
    
}

p
{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
text-align: center;

}
header{
    width: 1108px;
    height: 40px;
    flex-shrink: 0;
}

nav{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
}

.boton{
    background-color: antiquewhite;
    margin: 20px;
    padding: 20px;
    width: 100px;
    height: 45px;
}